<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Safety</title>
    </head>
    <body>
        <h1>Bem-vindo ao Safety</h1>
        <h2>Nosso objetivo</h2>
        <p>*<strong>safety</strong> é um website que te ajuda a andar com mais segurança por onde estiver com a ajuda da comunidade.*</p>
        <h2>Recursos</h2>
        <ul>
            <li><a href="create_user.html">Criacao de usuario</a></li>
            <li>Recurso 2</li>
            <li>Recurso 3</li>
    </body>
    <footer>
    </footer>
</html>
